.search-bar-cont {
  margin: 0 !important;;
  padding: 0 !important;;
}

.search-bar-row {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;;
}

.search-bar-col {
  margin: 0 !important;
  padding: 0 0 1em 0 !important;
}

.form-control {
  border-color: #5E666D !important;
}