* {
  box-sizing: border-box;
}

$color-01: #242529;

body {
  background-color: $color-01 !important;

// Why no important necessary here?
// .app-container {
//   background-color: $bg-color;
// }
}

.container {
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}

.card {
  margin-bottom: 1.2em !important;
}