* {
  box-sizing: border-box;
}

$color-01: #14A2B8;
$color-02: #fff;

body {
  background-color: $color-01 !important;

// Why no important necessary here?
// .app-container {
//   background-color: $bg-color;
// }
}

.container {
  border-radius: 3px;
}

.card {
  margin-bottom: 1.2em !important;
}