h1 {
  font-size: 1.1em !important;
  letter-spacing: 0.03em;
}

.navbar {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-bar-cont {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-brand {
  padding: 0.03em !important;
}

.navbar-expand-lg>.container {
  padding-left: 1em !important;
}

.navbar-toggler {
  border: 0px solid transparent !important;
}